
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>EC21, Global B2B Marketplace</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="../../static/main/images/ec21logo.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../static/main/css/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="../../static/main/css/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="../../static/main/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="../../static/main/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="../../static/main/css/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="../../static/main/css/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="../../static/main/css/animate.css">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="../../static/main/css/flex-slider.min.css">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="../../static/main/css/owl-carousel.css">
	<!-- Slicknav -->
    <link rel="stylesheet" href="../../static/main/css/slicknav.min.css">
	
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="../../static/main/css/reset.css">
	<link rel="stylesheet" href="../../static/main/css/style.css">
    <link rel="stylesheet" href="../../static/main/css/responsive.css">

	<!-- Color CSS -->
	<!-- <link rel="stylesheet" href="css/color/color1.css"> -->
	<link rel="stylesheet" href="../../static/main/css/color/color2.css">

	<link rel="stylesheet" href="#" id="colors">
	
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li><i class="ti-user"></i> <a href="#">My account</a></li>
								<li><i class="ti-power-off"></i><a href="login.html">Login</a></li>
								<li><i class="ti-user"></i><a href="register.html">Sign up</a></li>
								<li><i class="ti-power-off"></i><a href="index.html">Logout</a></li>
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src="../../static/main/images/ec21logo.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Category</option>
									<option>Food & Beverage</option>
									<option>Chemical</option>
									<option>Health & Medical</option>
									<option>Electronics</option>
									<option>Cosmetic</option>
								</select>
								<form>
									<input name="search" placeholder="What are you searching for?" type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="mypage.html" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div>

							<!-- 검색창 옆 부분 -->
							<div class="sinlge-bar inquiry">
								<a href="#" class="single-icon"><i class="fa fa-envelope-o"></i> <span class="total-count">3</span></a>
								<!-- inquiry start -->
								<div class="inquiry-item">
									<div class="dropdown-cart-header">
										<span>3 Items</span>
									</div>
									<ul class="inquiry-list">
										<li>
											<!-- <a class="cart-img" href="#"><img src="images/user.png" alt="profile Image"></a> -->
											<span>
												<h4><a href="#">John Smith</a></h4>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie makers. They were where...
											</span>
										</li>
										<li>
											<!-- <a class="cart-img" href="#"><img src="images/user.png" alt="profile Image"></a> -->
											<span>
												<h4><a href="#">John Smith</a></h4>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie makers. They were where...
											</span>
										</li>
										<li>
											<!-- <a class="cart-img" href="#"><img src="images/user.png" alt="profile Image"></a> -->
											<span>
												<h4><a href="#">John Smith</a></h4>
												<span class="time">3 mins ago</span>
											</span>
											<span class="message">
												Film festivals used to be do-or-die moments for movie makers. They were where...
											</span>
										</li>
									</ul>
									<div class="bottom">
										<a href="index.html" class="btn animate">See more inquiries</a>
									</div>
								</div>
								<!--/ End inquiry Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">

								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">	
										<div class="nav-inner">	
											<ul class="nav main-menu menu navbar-nav">
												<li><a href="list.html">All</a></li>												
												<li><a href="#">Food & Beverage</a></li>
												<li><a href="#">Chemical</a></li>
												<li><a href="#">Health & Medical</a></li>									
												<li><a href="#">Electronics</a></li>
												<li><a href="#">Cosmetic</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->

  <!-- page content -->
  <section class="product-area shop-sidebar shop-list shop section"></section>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-12">
          <div class="shop-sidebar login-form">
            <!-- Single Widget -->
            <div class="single-widget category">
              <button id="compose" class="btn btn-sm btn-success btn-block" type="button">COMPOSE</button>
                  
                    <div class="mail_list">
                      <div class="left">
                        <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                      </div>
                      <div class="title">
                        <a href="#">
                        <h3>Dennis Mugo <small>3.00 PM</small></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                        </a>
                      </div>
                    </div>
                  
                  <a href="#">
                    <div class="mail_list">
                      <div class="left">
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="right">
                        <h3>Jane Nobert <small>4.09 PM</small></h3>
                        <p><span class="badge">To</span> Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div class="mail_list">
                      <div class="left">
                        <i class="fa fa-circle-o"></i><i class="fa fa-paperclip"></i>
                      </div>
                      <div class="right">
                        <h3>Musimbi Anne <small>4.09 PM</small></h3>
                        <p><span class="badge">CC</span> Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div class="mail_list">
                      <div class="left">
                        <i class="fa fa-paperclip"></i>
                      </div>
                      <div class="right">
                        <h3>Jon Dibbs <small>4.09 PM</small></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div class="mail_list">
                      <div class="left">
                        .
                      </div>
                      <div class="right">
                        <h3>Debbis & Raymond <small>4.09 PM</small></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div class="mail_list">
                      <div class="left">
                        .
                      </div>
                      <div class="right">
                        <h3>Debbis & Raymond <small>4.09 PM</small></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div class="mail_list">
                      <div class="left">
                        <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                      </div>
                      <div class="right">
                        <h3>Dennis Mugo <small>3.00 PM</small></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                      </div>
                    </div>
                  </a>
                  <a href="#">
                    <div class="mail_list">
                      <div class="left">
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="right">
                        <h3>Jane Nobert <small>4.09 PM</small></h3>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation enim ad minim veniam, quis nostrud exercitation...</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- /MAIL LIST -->
                </div>
              </div>
                <!-- CONTENT MAIL -->
                <div class="col-sm-9 mail_view">
                  <div class="inbox-body">
                    <div class="mail_heading row">
                      <div class="col-md-8">
                        <div class="btn-group">
                          <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-reply"></i> Reply</button>
                          <button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="Forward"><i class="fa fa-share"></i></button>
                          <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-print"></i></button>
                          <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                        </div>
                      </div>
                      <div class="col-md-4 text-right">
                        <p class="date"> 8:02 PM 12 FEB 2014</p>
                      </div>
                      <div class="col-md-12">
                        <h4> Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Donec ultrices faucibus rutrum.</h4>
                      </div>
                    </div>
                    <div class="sender-info">
                      <div class="row">
                        <div class="col-md-12">
                          <strong>Jon Doe</strong>
                          <span>(jon.doe@gmail.com)</span> to
                          <strong>me</strong>
                          <a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="view-mail">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                      <p>Riusmod tempor incididunt ut labor erem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                      <p>Modesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="attachment">
                      <p>
                        <span><i class="fa fa-paperclip"></i> 3 attachments — </span>
                        <a href="#">Download all attachments</a> |
                        <a href="#">View all images</a>
                      </p>
                      <ul>
                        <li>
                          <a href="#" class="atch-thumb">
                            <img src="images/inbox.png" alt="img" />
                          </a>

                          <div class="file-name">
                            image-name.jpg
                          </div>
                          <span>12KB</span>


                          <div class="links">
                            <a href="#">View</a> -
                            <a href="#">Download</a>
                          </div>
                        </li>

                        <li>
                          <a href="#" class="atch-thumb">
                            <img src="images/inbox.png" alt="img" />
                          </a>

                          <div class="file-name">
                            img_name.jpg
                          </div>
                          <span>40KB</span>

                          <div class="links">
                            <a href="#">View</a> -
                            <a href="#">Download</a>
                          </div>
                        </li>
                        <li>
                          <a href="#" class="atch-thumb">
                            <img src="images/inbox.png" alt="img" />
                          </a>

                          <div class="file-name">
                            img_name.jpg
                          </div>
                          <span>30KB</span>

                          <div class="links">
                            <a href="#">View</a> -
                            <a href="#">Download</a>
                          </div>
                        </li>

                      </ul>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-reply"></i> Reply</button>
                      <button class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="Forward"><i class="fa fa-share"></i></button>
                      <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-print"></i></button>
                      <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </div>

                </div>
                <!-- /CONTENT MAIL -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- compose -->
    <div class="compose col-md-6  ">
      <div class="compose-header">
        New Message
        <button type="button" class="close compose-close">
          <span>×</span>
        </button>
      </div>

      <div class="compose-body">
        <div id="alerts"></div>

        <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a data-edit="fontSize 5">
                  <p style="font-size:17px">Huge</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 3">
                  <p style="font-size:14px">Normal</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 1">
                  <p style="font-size:11px">Small</p>
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
            <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
            <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
            <div class="dropdown-menu input-append">
              <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
              <button class="btn" type="button">Add</button>
            </div>
            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
          </div>
        </div>

        <div id="editor" class="editor-wrapper"></div>
      </div>

      <div class="compose-footer">
        <button id="send" class="btn btn-sm btn-success" type="button">Send</button>
      </div>
    </div>
    <!-- /compose -->

    <!-- Jquery -->
    <script src="../../static/main/js/jquery.min.js"></script>
    <script src="../../static/main/js/jquery-migrate-3.0.0.js"></scrip>
    <script src="../../static/main/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="../../static/main/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../../static/main/js/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="../../static/main/js/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="../../static/main/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="../../static/main/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="../../static/main/js/magnific-popup.js"></script>
    <!-- Fancybox JS -->
    <script src="../../static/main/js/facnybox.min.js"></script>
    <!-- Waypoints JS -->
    <script src="../../static/main/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="../../static/main/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="../../static/main/js/nicesellect.js"></script>
    <!-- Ytplayer JS -->
    <script src="../../static/main/js/ytplayer.min.js"></script>
    <!-- Flex Slider JS -->
    <script src="../../static/main/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="../../static/main/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="../../static/main/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="../../static/main/js/easing.js"></script>
    <!-- Active JS -->
    <script src="../../static/main/js/active.js"></script>

  </body>
</html>