<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Meta Tag -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	<title>EC21, Global B2B Marketplace</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" th:href="@{/main/images/ec21logo.png}">
	<!-- Web Font -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">

	<!-- StyleSheet -->

	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/main/css/bootstrap.css}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" th:href="@{/main/css/magnific-popup.min.css}">
	<!-- Font Awesome -->
	<link rel="stylesheet" th:href="@{/main/css/font-awesome.css}">
	<!-- Fancybox -->
	<link rel="stylesheet" th:href="@{/main/css/jquery.fancybox.min.css}">
	<!-- Themify Icons -->
	<link rel="stylesheet" th:href="@{/main/css/themify-icons.css}">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" th:href="@{/main/css/niceselect.css}">
	<!-- Animate CSS -->
	<link rel="stylesheet" th:href="@{/main/css/animate.css}">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" th:href="@{/main/css/flex-slider.min.css}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" th:href="@{/main/css/owl-carousel.css}">
	<!-- Slicknav -->
	<link rel="stylesheet" th:href="@{/main/css/slicknav.min.css}">

	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" th:href="@{/main/css/reset.css}">
	<link rel="stylesheet" th:href="@{/main/css/style.css}">
	<link rel="stylesheet" th:href="@{/main/css/responsive.css}">

	<!-- Color CSS -->
	<link rel="stylesheet" th:href="@{/main/css/color/color2.css}">

	<link rel="stylesheet" href="#" id="colors">
	
</head>
<body class="js">
	<!-- 지우지.. 마시오.. css 다 사라짐요.. -->
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li><i class="ti-power-off"></i><a th:href="@{/main/login}">Login</a></li>
								<li><i class="ti-user"></i><a th:href="@{/main/register}">Sign up</a></li>
								<li><i class="ti-power-off"></i><a th:href="@{/}">Logout</a></li>
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a th:href=@{/}><img th:src="@{/main/images/ec21logo.png}" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Category</option>
									<option>Food & Beverage</option>
									<option>Chemical</option>
									<option>Health & Medical</option>
									<option>Electronics</option>
									<option>Cosmetic</option>
								</select>
								<form>
									<input name="search" placeholder="What are you searching for?" type="search">
									<button class="btn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a th:href="@{/main/myproducts}" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div>
							<!-- 검색창 옆 부분 -->
							<div class="sinlge-bar inquiry">
								<a th:href="@{/main/inbox}" class="single-icon"><i class="fa fa-envelope-o"></i><span class="total-count">NEW</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">

								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">	
										<div class="nav-inner">	
											<ul class="nav main-menu menu navbar-nav">
												<li><a href="./list.html?title=All">All</a></li>												
												<li><a href="#">Food & Beverage</a></li>
												<li><a href="#">Chemical</a></li>
												<li><a href="#">Health & Medical</a></li>									
												<li><a href="#">Electronics</a></li>
												<li><a href="#">Cosmetic</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bread-inner">
							<ul class="bread-list">
								<li><a th:href="@{/main/index}">Home<i class="ti-arrow-right"></i></a></li>
								<li class="active"><a th:href="@{/main/list}">Products<i class="ti-arrow-right"></i></a></li>
								<li class="active"><a th:href="@{/main/productsDetail}">상품명</a></li> 
								<!-- 상품명은 th로 넣기 -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
				
		<!-- Shop Single -->
		<section class="shop single section">
					<div class="container">
						<div class="row"> 
							<div class="col-12">
								<div class="btn-edit">
									<ul>
										<!-- 상품처리하고 나면 다음 할 행동을 href로 -->
										<div class="user-custom">
											<li><a href="#" class="btn min user">Edit</a></li>
											<li><a href="#" class="btn min user">Delete</a></li>
											<li><a href="#" class="btn min manager">정상</a></li>
											<li><a href="#" class="btn min manager">이상</a></li>
										</div>
									</ul>								
								</div>
								<div class="row">
									<div class="col-lg-6 col-12">
										<!-- Product Slider -->
										<div class="product-gallery">
											<!-- Images slider -->
											<div class="flexslider-thumbnails">
												<ul class="slides">
													<li data-thumb="https://via.placeholder.com/450x320" rel="adjustX:10, adjustY:">
														<img src="https://via.placeholder.com/450x320" alt="#">
													</li>
												</ul>
											</div>
											<!-- End Images slider -->
										</div>
										<!-- End Product slider -->
									</div>
									<div class="col-lg-6 col-12">
										<div class="product-desc">
											<!-- 상단 부분 -->
											<div class="short">
												<h4>Automotive Micro Relay JTKW</h4>
												<div><h6 class="price">Price : <span>$70.00</span></h6></div>
												<div><h6 class="origin">Origin : <span>China</span></h6></div>
												<div><h6 class="quantity">Minimum Order Quantity : <span>2,000kg</span></h6></div>
											</div>
											<!--/ End Description -->

											<!-- inquiry 
													: 내가아닌 사용자에게만 보이도록 한다.-->
											<div class="add-to-cart">
												<button class="btn" data-toggle="modal" data-target="#myModal">
													Inquire Now  <i class="fa fa-envelope-o"></i>
												</button>
											</div>

											<!-- inquiry 보내는 창 -->
											<form class="form" th:action="@{/main/productsDetail}" method="post">
												<div class="modal" id="myModal">
													<div class="modal-dialog">
														<div class="modal-content">
															
															<!-- Modal Header -->
															<div class="modal-header">
																<h4 class="modal-title">Send Message</h4>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div> 
															<!-- /Modal Header -->
															
															<!-- Modal Body -->
															<div class="modal-body">
																<div class="caution" style="margin-bottom: 30px;">
																	<p><i class="ti-user"></i> Reminder for Buyers :</p>
																	<p>
																		Be cautious with pre-payment by T/T or Western Union.  Do not make pre-payment to any sellers unless you can fully trust the sellers. <br>
																		More... EC21.com is NOT RESPONSIBLE for transactions between buyers and sellers.
																	</p>
																</div>
																<!-- 인콰이어리 작성 부분 -->
																<table>
																		<tr>
																			<th class="col-lg-5 text-center">To</th>
																			<td id="receivedId">zettlernb (Ningbo Zettler Electronics Co., Ltd.)</td>
																		</tr>
																		<tr>
																			<th class="col-lg-5 text-center">Subject <span>*</span></th>
																			<td class="col-12"><input type="text" id="" name="" required></input></td>
																		</tr>
																		<tr>
																			<th class="col-lg-5 text-center">Category <span>*</span></th>
																			<td class="col-12"><input type="text" id="" name="" required></input></td>
																		</tr>
																		<tr>
																			<th class="col-lg-5 text-center">Message <span>*</span></th>
																			<td class="col-12"><textarea class="message-field" id="" name="" required></textarea></td>
																		</tr>
																		<tr>
																			<th class="col-lg-5 text-center">Attach File</th>
																			<td class="col-12"><input type="file" id="" name="" value="Upload File"></input></td>
																		</tr>
																</table>
																
																<div class="agree-check">
																	<input name="" id="" type="checkbox" required>
																			I Agree To EC21 Terms of Services, Privacy Policy, And
																			Receive Emails From EC21 And Its Partners Related To Their Services,
																			Promotions And Business Matching.
																	</input>
																</div>															
															</div>
															<!-- /Modal Body -->
															
															<!-- Modal Footer -->
															<div class="modal-footer">
																<button type="submit" class="btn" data-dismiss="modal">Send</button>
																<button type="button" class="btn" data-dismiss="modal">Close</button>
															</div>
															<!-- /Modal Footer -->
														</div>
													</div>
												</div>
											</form>
											<!-- /inquiury -->
										</div>
										<!--/ End Product Buy -->
									</div>
								</div>
								<div class="row">
									<div class="col-11">
										<div class="product-info">
											<div class="nav-main">
												<!-- Tab Nav -->
												<div class="nav nav-tabs" id="myTab" role="tablist">
													<a class="nav-link active" data-toggle="tab" role="tab">Description by Manufacturer</a>
												</div>
												<!--/ End Tab Nav -->
											</div>
											<div class="tab-content" id="myTabContent">
												<!-- Description Tab -->
												<div class="tab-pane fade show active" id="description" role="tabpanel">
													<div class="tab-single">
														<div class="row">
															<div class="col-12">
																<div class="single-des">
																	<!-- 상품설명 적은 곳 넣는 부분 -->
																	<span class="productDesc">
																		simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
																		when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
																		but also the leap into electronic typesetting, remaining essentially unchanged. 
																		It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with deskto
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--/ End Description Tab -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		</section>
		<!--/ End Shop Single -->
		
		<!-- Start Most Popular -->
	<div class="product-area most-popular related-product section">
        <div class="container">
            <div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Same Category Products</h2>
					</div>
				</div>
            </div>
			<!-- 이 부분은 비어 보이길래 해당 카테 고리 안에 최근순으로 넣으면 됩니다 -->
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel popular-slider">
						<!-- Start Single Product -->
						<div class="single-product">
							<div class="product-img">
								<a th:href="@{/main/productsDetail}">
									<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
									<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
								</a>
							</div>
							<div class="product-content">
								<h3><a th:href="@{/main/productsDetail}">Black Sunglass For Women</a></h3>
								<div class="productName"><span>검정 선글라스</span></div>
								<div class="product-price">
									<span>$60.00</span>
								</div>
							</div>
						</div>
						<!-- End Single Product -->
						<!-- Start Single Product -->
						<div class="single-product">
                            <div class="product-img">
                                <a th:href="@{/main/productsDetail}">
                                    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a th:href="@{/main/productsDetail}">Women Hot Collection</a></h3>
								<div class="productName"><span>따뜻 컬렉션</span></div>
                                <div class="product-price">
                                    <span>$50.00</span>
                                </div>
                            </div>
                        </div>
						<!-- End Single Product -->
						<!-- Start Single Product -->
						<div class="single-product">
                            <div class="product-img">
                                <a th:href="@{/main/productsDetail}">
                                    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3><a th:href="@{/main/productsDetail}">Awesome Pink Show</a></h3>
								<div class="productName"><span>놀라운 핑크핑크 쇼</span></div>
                                <div class="product-price">
                                    <span>$50.00</span>
                                </div>
                            </div>
                        </div>
						<!-- End Single Product -->
						<!-- Start Single Product -->
						<div class="single-product">
                            <div class="product-img">
                                <a th:href="@{/main/productsDetail}">
                                    <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                    <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                </a>
							</div>
							<div class="product-content">
                                <h3><a th:href="@{/main/productsDetail}">Awesome Pink Show</a></h3>
								<div class="productName"><span>멋진 핑크핑크 쇼</span></div>
                                <div class="product-price">
                                    <span>$50.00</span>
                                </div>
                            </div>
                        </div>
						<!-- End Single Product -->
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- End Most Popular Area -->
				
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>About Us</h4>
							<ul>
								<li><a href="#">Company Overview</a></li>
								<li><a href="#">Agent Program</a></li>
								<li><a href="#">Advertise with us</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Buying on EC21</h4>
							<ul>
								<li><a href="#">Post Buying Leads</a></li>
								<li><a href="#">Browse Category</a></li>
								<li><a href="#">Products by Keywords</a></li>
								<li><a href="#">Products by Country</a></li>
								<li><a href="#">Idea Products</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>

					<!-- Single Widget -->
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Selling on EC21</h4>
							<ul>
								<li><a href="#">Post Products</a></li>
								<li><a href="#">Manage Products</a></li>
								<li><a href="#">Post Selling Leads</a></li>
								<li><a href="#">Search Buying Leads</a></li>
								<li><a href="#">Search Buyer Data</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Services</h4>
							<ul>
								<li><a href="#">Basic Services</a></li>
								<li><a href="#">Trade PRO</a></li>
								<li><a href="#">Trade OK</a></li>
								<li><a href="#">Credit Reports</a></li>
								<li><a href="#">TradeVerify</a></li>
							</ul>
						</div>
					</div>
					<!-- End Single Widget -->
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Share this page</h4>
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 1997-2024 <a href="https://www.ec21.com/" target="_blank">EC21 Inc.</a>
									All Rights Reserved. EC21 in Korean | Chinese Business Registry Number: 120-86-03931
								</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img th:src="@{images/payments.png}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->

	<!-- Jquery -->
	<script th:src="@{/main/js/jquery.min.js}"></script>
	<script th:src="@{/main/js/jquery-migrate-3.0.0.js}"></script>
	<script th:src="@{/main/js/jquery-ui.min.js}"></script>
	<!-- Popper JS -->
	<script th:src="@{/main/js/popper.min.js}"></script>
	<!-- Bootstrap JS -->
	<script th:src="@{static/main/js/bootstrap.min.js}"></script>
	<!-- Color JS -->
	<script th:src="@{/main/js/colors.js}"></script>
	<!-- Slicknav JS -->
	<script th:src="@{/main/js/slicknav.min.js}"></script>
	<!-- Owl Carousel JS -->
	<script th:src="@{/main/js/owl-carousel.js}"></script>
	<!-- Magnific Popup JS -->
	<script th:src="@{/main/js/magnific-popup.js}"></script>
	<!-- Fancybox JS -->
	<script th:src="@{/main/js/facnybox.min.js}"></script>
	<!-- Waypoints JS -->
	<script th:src="@{/main/js/waypoints.min.js}"></script>
	<!-- Countdown JS -->
	<script th:src="@{/main/js/finalcountdown.min.js}"></script>
	<!-- Nice Select JS -->
	<script th:src="@{/main/js/nicesellect.js}"></script>
	<!-- Ytplayer JS -->
	<script th:src="@{/main/js/ytplayer.min.js}"></script>
	<!-- Flex Slider JS -->
	<script th:src="@{/main/js/flex-slider.js}"></script>
	<!-- ScrollUp JS -->
	<script th:src="@{/main/js/scrollup.js}"></script>
	<!-- Onepage Nav JS -->
	<script th:src="@{/main/js/onepage-nav.min.js}"></script>
	<!-- Easing JS -->
	<script th:src="@{/main/js/easing.js}"></script>
	<!-- Active JS -->
	<script th:src="@{/main/js/active.js}"></script>
</body>

</html>