/*======================================
	start Inquiry CSS
========================================*/
.header.shop .top-left .logo {
	width: 90px;
	height: auto;
	margin-top: -2px;
} 

.single-widget.category, div.col-md-2.col-12{
    background-color: #333; /* 배경색을 어두운 회색으로 설정 */
	color: #fff;
}

.table.inquiry-summery {
	background: #fff;
}


/*======================================
	End Inquiry CSS
========================================*/