<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" th:href="@{/production/images/ec21logo.png}">

  <title>ec21 관리자 페이지</title>
  	<!-- Web Font -->
		<!-- Web Font -->
    <link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.css}" rel="stylesheet">
  <!-- Font Awesome -->
  <link th:href="@{/vendors/font-awesome/css/font-awesome.css}" rel="stylesheet">
  <!-- NProgress -->
  <link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">
  <!-- iCheck -->
  <link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link th:href="@{/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.css}" rel="stylesheet">
  <!-- JQVMap -->
  <link th:href="@{/vendors/jqvmap/dist/jqvmap.css}" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link th:href="@{/build/css/custom.css}" rel="stylesheet">

  <!-- 240414 dy : JQuery 파일 추가 및 list 관련 ajax 처리 -->
  <script th:src="@{/script/jquery-3.7.1.js}"></script>
  <script>
    $(function () {
      $("#category").on("change",search);
      $("#searchWord").on("keyup",search);
      init();
    })

    function search() {
      let category = $("#category").val();
      let searchWord = $("#searchWord").val();

      $.ajax({
        url:"/manager/productList/getList",
        data:{"category":category,"searchWord":searchWord},
        method:"GET",
        success : function (list) {
          $("#result").replaceWith(list);
        }
      })

    }

    function init() {
      $.ajax({
        url:"/manager/productList/getList",
        data:{"category":"total","searchWord":""},
        method:"GET",
        success : function (list) {
          $("#result").replaceWith(list);
        }
      })
    }

  </script>
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0; text-align: center;">
            <a th:href="@{/manager/manager_index}" class="site_title">
              <img th:src="@{/production/images/ec21logo.png}" alt="" height="30px">
            </a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img th:src="@{/production/images/user.png}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <h2>관리자</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a th:href="@{/manager/manager_index}">Dashboard</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> 상품관리 <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a th:href="@{/manager/productList}">전체 상품 조회</a></li>
                    <li><a th:href="@{/manager/modelPredict}">모델로 이상상품 판별</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-users"></i> 회원관리 <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a th:href="@{/manager/customerList}">정상회원</a></li>
                    <li><a th:href="@{/manager/reportedCustomerList}">신고당한회원</a></li>
                    <li><a th:href="@{/manager/blackList}">블랙리스트회원</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->

        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <nav class="nav navbar-nav">
            <ul class=" navbar-right">
              <li class="nav-item dropdown open" style="padding-left: 15px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                  data-toggle="dropdown" aria-expanded="false">
                  <img th:src=@{/production/images/user.png} alt="">관리자
                </a>
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" th:href="@{/main/login}"><i class="fa fa-sign-out pull-right"></i> Log
                    Out</a>
                </div>
              </li>

            </ul>
          </nav>
        </div>
      </div>

      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Member <small>회원관리</small></h3>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="row" >
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_title">
                  <h2>전체 회원 관리</h2>
                  <div class="clearfix"></div>
                </div>

                <div class="x_content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-box table-responsive">
                        <!-- class="table table-striped jambo_table bulk_action" -->
                        <table id="datatable" class="table table-striped jambo_table dt-responsive nowrap"
                          cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th style="width: 10%">구분</th>
                              <th style="width: 20%">회원ID</th>
                              <th style="width: 20%">담당자명</th>
                              <th style="width: 4cm">회사명</th>
                              <th style="width: 10%">부서명</th>
                              <th style="width: 10%">국가IP</th>
                              <th>회사URL</th>
                              <th>회사 연락처</th>
                              <th>E-mail</th>
                              <td>회사주소</td>
                              <td>상품목록</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="customer: ${list}">
                              <td th:text="${customer.customerGubun}">셀러</td>
                              <td th:text="${customer.customerId}">System Architect</td>
                              <td th:text="${customer.customerName}">sales Assistant</td>
                              <td th:text="${customer.compName}">Edinburghasdfsadfsf</td>
                              <td th:text="${customer.customerDepartment}">abcdefghtmldkasjf</td>
                              <td th:text="${customer.remoteIp}">121.172.252.00</td>
                              <td th:text="${customer.compUrl}">www.naver.com</td>
                              <td th:text="${customer.faxNo}">5421</td>
                              <td th:text="${customer.email}">t.nixon@datatables.net</td>
                              <td th:text="${customer.address}"> South Africa </td>
                              <td><a href="#">보기</a></td>
                            </tr>
                          </tbody>
                        </table>


                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- /page content -->
    </div>
  </div>


  <!-- jQuery -->
  <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
  <!-- Bootstrap -->
  <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <!-- FastClick -->
  <script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
  <!-- NProgress -->
  <script th:src="@{/vendors/nprogress/nprogress.js}"></script>
  <!-- iCheck -->
  <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
  <!-- Datatables -->
  <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.js}"></script>
  <script th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.js}"></script>
  <script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.js}"></script>
  <script th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.js}"></script>
  <script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.js}"></script>
  <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.js}"></script>
  <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.js}"></script>
  <script th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.js}"></script>
  <script th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.js}"></script>
  <script th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.js}"></script>
  <script th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
  <script th:src="@{/vendors/datatables.net-scroller/js/dataTables.scroller.js}"></script>
  <script th:src="@{/vendors/jszip/dist/jszip.js}"></script>
  <script th:src="@{/vendors/pdfmake/build/pdfmake.js}"></script>
  <script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>

  <!-- Custom Theme Scripts -->
  <script th:src="@{/build/js/custom.min.js}"></script>


</body>

</html>